*{
  box-sizing: border-box;
}
body {

    font-family: 'Oswald', sans-serif;
    background-color: lightblue;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  background-color:cadetblue;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: 900;
  font-weight: bold;
  
}

.header .logo {
  flex-grow: 1;
  color: #ffb78c;
  font-weight: bold;
}

.header li {
  display: inline;
  
}

.header li a {
  text-decoration: none;
  color:beige;
}
.header li a:hover {
  text-decoration: underline;
  color:#ffb78c;
}

li+li::before{
  content: '|';
  color: #ffb78c;
}

.wrapper{
  max-width: 85%; 
  border-radius: 2px;
  border-color: grey;
  border-style: solid;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  
}
.wrapper .crimson{
  width: 20%;
  background-color: crimson;
  text-align: center;
  display: inline-block;
  margin: 20px;
  color: white;
}
.wrapper .blueviolet{
  width: 20%;
  background-color:blueviolet;
  text-align: center;
  display: inline-block;
  margin: 20px;
  color: white;
}
.wrapper .goldenrod{
  width: 20%;
  background-color:goldenrod;
  text-align: center;
  display: inline-block;
  margin: 20px;
  color: white;
}

.wrapper .maroon{
  width: 20%;
  background-color:maroon;
  text-align: center;
  display: inline-block;
  margin: 20px;
  color: white;
}


.wrapper .abrilFatface {
  font-family: 'Abril Fatface', cursive;
  width: 20%;
  text-align: left;
  display: inline-block;
  margin: 20px;
}

.wrapper .Merriweather {
  font-family: 'Merriweather', serif;
  width: 20%;
  text-align: left;
  display: inline-block;
  margin: 20px;
}
.wrapper .workSans {
  font-family: 'Work Sans', sans-serif;
  width: 20%;
  text-align: left;
  display: inline-block;
  margin: 20px;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-weight: normal;
  font-style: italic;
}
.textStyle{
  width: 20%;
  text-align: left;
  display: inline-block;
  margin: 20px;
}
.textStyle h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Nunito Sans', sans-serif;
}

.textStyle h2 {
  font-weight: 500;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace
}

.textStyle p {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  background-color:cadetblue;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: 900;
  font-weight: bold;
}


.footer .copyright {
  flex-grow: 1;
  color: #ffb78c;
  font-weight: bold;
}

.footer li {
  display: inline;
  
}

.footer li a {
  text-decoration: none;
  color:beige;
}
.footer li a:hover {
  text-decoration: underline;
  color:#ffb78c;
}


